body {
	background-color: rgb(20, 0, 51);


}

table{
	border-color: white;
	width: 100%;
	background-color: lightgray;
}

 th {
 	
 	height: 20px;
 }
 td {
 	width: 20%;
 	height: 20px;
 }
 .td-meio {
 	  width: 60%;
 	  height: 20px;
 }